
#school-page {
    width: 1440px;
    height: 3718px; 
    background-color: silver;
}


.nav {
    width: 1103.408px;
    height: 29.461px;
    flex-shrink: 0; 
    
}

#menu {
    display: inline-flex;
    height: 15px;
    justify-content: center;
    align-items: flex-start;
    gap: 52px;
    flex-shrink: 0; 
}

#menu ul {
    text-transform: uppercase;
}

#menu li {
    display: inline-block;
}

#menu li:first-child {
    margin-right: 702.39px;
}

#menu a {
    padding: 5px 10px;
    text-decoration: none;
}